<div class="activities">
  <div class="activities__header">
    <h2>Recent Activities</h2>
  </div>
  {{ range .MessageList }}
  <div class="activities__box">
    <div class="activities__boxHeader roomListRoom__header">
      <a href="/profile/{{ .User.ID }}" class="roomListRoom__author">
        <div class="avatar avatar--small">
          <img src="{{ .User.Avatar.Url }}" />
        </div>
        <p>
          @{{ .User.Username }}
          <span>{{ .CreatedSince }} ago</span>
        </p>
      </a>
      {{ if eq .RequestUser.Username .User.Username }}
      <div class="roomListRoom__actions">
        <a href="/delete-message/{{ .ID }}">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 32 32"
          >
            <title>remove</title>
            <path
              d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
            ></path>
          </svg>
        </a>
      </div>
      {{ end }}
    </div>
    <div class="activities__boxContent">
      <p>
        replied to post “<a href="/room/{{ .Room.ID }}"
          >{{ .Room }}</a
        >”
      </p>
      <div class="activities__boxRoomContent">{{ .Body }}</div>
    </div>
  </div>
  {{ end }}
</div>
